.header {
  height: 80px;
  display: flex;
  background-color: #1c2b35;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
}
.header a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 36px;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 5px 2px;
}
.header a:hover {
  color: orange;
  border-bottom: 2px solid orange;
}
